.container{
    background: white;
    margin: 30px 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 100%);

}

a{
    color: #1A2980;
    font-weight: bold;
    margin: auto 10px;
}

header h1{
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #1A2980;
}

.row{
    margin: 10px 0;
}

#chatroom{
    height: 70%;
    overflow: auto;
}

input{
    font-family: 'Comfortaa', sans-serif;
    border-color: #1A2980;
}


.btn{
    border:none;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 100%);
}


p.message {
    margin: 0px;
    width: 100%;
    border-radius: 0.25rem;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
    margin-bottom: 10px;
    border: 1px solid#1A2980;
   
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}